.experience {
  background-color: #f9f9ff;
  color: #353353;
  padding: 5rem 0;
}

.experience-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #353353;
}

.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experience-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
}

.experience-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.company-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.role {
  font-size: 1.4rem;
  font-weight: 500;
}

.work-type,
.duration {
  font-size: 1rem;
  color: #777;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 1rem;
}

.tech-stack {
  margin-top: 1rem;
}

.tech-stack p {
  margin-bottom: 1rem;
  font-weight: bold;
}

.tech-stack div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style: none;
}

.tech-stack div span {
  background: #353353;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: #353353;
  transition: color 1s;
}

a:hover {
  color: #252434;
}

.show-more-container {
  text-align: center;
  margin-top: 20px;
}

.show-more-button {
  background-color: #353353;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.show-more-button:hover {
  background-color: #1b5a7d;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .experience-title {
    font-size: 2.2rem;
  }

  .company-name {
    font-size: 1.6rem;
  }

  .role {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .experience-title {
    font-size: 2rem;
  }

  .company-name {
    font-size: 1.5rem;
  }

  .role {
    font-size: 1.1rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .experience-title {
    font-size: 1.8rem;
  }

  .company-name {
    font-size: 1.4rem;
  }

  .role {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .experience-title {
    font-size: 1.6rem;
  }

  .company-name {
    font-size: 1.2rem;
  }

  .role {
    font-size: 0.9rem;
  }

  .description {
    font-size: 0.85rem;
  }
}
